/* Progress Bar */
.progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: clamp(8rem, 80%, 25rem);
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.fill {
    height: 100%;
    background-color: #5297dc;
    transition: width 0.3s ease-in-out;
}

.value {
    font-weight: 600;
    font-size: 18px;
}

/* Status Card */
.status-card {
    display: flex;
    align-self: center;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.status-card > div:first-child {
    height: 3rem;
    display: flex;
    align-items: end;
    gap: 0.4rem;
    padding-bottom: 0.3rem;
}

.status-card > div:first-child > div:first-child {
    font-size: 2rem;
}

.status-card > div:first-child > div:last-child {
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
}

.status-card > div:last-child {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#wind-status > div:last-child > div:last-child > svg {
    padding-top: 5px;
    width: 1.5rem;
    height: 1.5rem;
}
