#sidebar {
    padding: 15px;
    height: 100vh;
    background-color: rgba(var(--background-color));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgba(var(--text-color));
}


/* Search Bar */
.searchbar {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.searchbar > button {
    border: none;
    outline: none;
    min-width: 40px;
    background-color: rgba(var(--foreground-color));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 50ms background-color ease-in-out;
}

.searchbar > button svg {
    width: 20px;
    padding-bottom: 1px;
    stroke: rgba(var(--text-color));
}

.searchbar > button:hover {
    background-color: rgba(var(--foreground-color), 0.5);
}

.searchbar > input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 20px;
    background-color: rgba(var(--foreground-color));
    width: 100%;
    border-radius: 20px;
    color: rgba(var(--text-color));
}

/* Display Card */

.displaycard {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-top: 0;
    padding-bottom: 0;
}

.displaycard > img {
    width: 12rem;
    align-self: center;
}

.displaycard > .temperature {
    display: flex;
    font-weight: 600;
    gap: 5px;
}

.temperature > div:first-child {
    font-size: 4rem;
}

.temperature > div:last-child {
    font-size: 3rem;
    padding-top: 5px;
}

.time {
    padding-top: 1rem;
    display: flex;
    gap: 10px;
    box-shadow: 0 2px 0px rgba(var(--text-color), 0.1);
    padding-bottom: 1.5rem;
}

.time > div:first-child {
    font-size: 1.25rem;
    font-weight: 600;
}

.time > div:last-child {
    font-size: 1.25rem;
    color: rgba(var(--text-color), 0.5);
}

.status {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    gap: 10px;
}

.status > svg {
    fill: rgba(var(--text-color));
}

.humidity {
    display: flex;
    gap: 10px;
}

.humidity > svg {
    fill: rgba(var(--text-color));
}