#sidebar {
    padding: 15px;
    height: 100vh;
    background-color: rgba(var(--background-color));
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.searchbar {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.searchbar button {
    border: none;
    outline: none;
    min-width: 40px;
    background-color: rgba(var(--foreground-color));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 50ms background-color ease-in-out;
}

.searchbar button svg {
    width: 20px;
    padding-bottom: 1px;
    stroke: rgba(var(--text-color));
}

.searchbar button:hover {
    background-color: rgba(var(--foreground-color), 0.5);
}

.searchbar input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 20px;
    background-color: rgba(var(--foreground-color));
    width: 100%;
    border-radius: 20px;
    color: rgba(var(--text-color));
}

